.container {
  display: flex;
  justify-content: space-between;
}
.heroBanner {
  padding: 8rem 0;
  border-bottom: 1px solid var(--ifm-color-secondary-lighter);
}

.heroButton {
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  padding: 1em 2em;
  border-radius: 500px;
  margin: 0;
  border: 0;
  background: var(--ifm-button-background-color);
  color: var(--ifm-font-color-base);
  transition: all 0.2s ease;
  cursor: pointer;
  border: 1px solid var(--ifm-font-color-base);
  line-height: 1rem;
}

.heroButton:hover {
  color: var(--ifm-font-color-base);
  background: var(--ifm-color-emphasis-200);
  text-decoration: none;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  padding-top: 2em;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  font-size: 1.15em;
}

.features .feature:last-child {
  border-bottom: 0;
}

.feature {
  padding: 3rem 0;
  border-bottom: 1px dotted var(--ifm-color-emphasis-400);
}

.featureImage {
  height: 200px;
  width: 200px;
}

.main {
  background: var(--ifm-color-emphasis-100);
}
